

.Product {
    
    width: 250px;
    height: 410px;
    padding: 30px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.Product img {
    height: 240px;
    margin-left: -37px;
    margin-bottom: 10px;
}

.Product h1 {
    color: black;
    font-weight: normal;
    font-size: 20pt;
    margin-bottom: 10px;
}

.Product p {
    color: black;
    font-size: 14pt;
    margin-bottom: 10px;
}

.Product .buy {
    border-radius: 100px;
    margin-left: -8px;
    height: 50px;
    width: 200px;
    border-style: none;
    background-color: #ff0000;
    color: white;
    font-size: 16pt;
}

.Product .buy:hover {
    cursor: pointer;

}